<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Recommended -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Elements -->
    <meta charset="utf-8">

    <!-- Meta -->
    <meta name="description" content="{{ metadata.description }}">
    <meta name="generator" content="11ty">

    <!-- Icons -->
    <!-- https://favicon.io/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}">

    <title>{{ title or metadata.title }}</title>

    <link rel="stylesheet" href="{{ '/site.css' | url }}">
  </head>

  <body class="text-gray-800 font-sans bg-gray-50">
    <div class="grid grid-cols-12 gap-2 justify-evenly m-4">
      <div class="order-1 col-span-10 md:col-span-7 flex items-center">
        <div class=""><img src="{{ '/logo.svg' | url }}" class="h-12"></div>
        <div class="ml-2 text-2xl md:text-3xl lg:text-4xl font-semibold">{{metadata.business.name}}</div>
      </div>
      <div class="order-2 col-span-2 md:col-span-5 hidden md:inline-flex flex flex-wrap justify-end items-center">
        {% for item in metadata.nav %}
          <div class="ml-4 text-lg font-medium hover:bg-blue-300 px-2 py-1 rounded">
            <a href="{{ item.url | safe }}">{{ item.label }}</a>
          </div>
        {% endfor %}
      </div>
      <div class="order-3 col-span-2 md:col-span-5 md:hidden flex flex-wrap justify-end items-center">
        X
      </div>
      {{ content | safe }}
      <div class="order-6 col-span-12 md:col-span-6 lg:col-span-6 text-sm text-center md:text-left text-gray-400">Copyright ©
        {{metadata.business.name}}. All rights Reserved.</div>
      <div class="order-7 col-span-12 md:col-span-6 lg:col-span-6 flex flex-wrap justify-center md:justify-end">
        {% for item in metadata.business.social %}
          <div class="ml-6 text-gray-400">
            <a href="{{ item.url | safe }}" target="_blank" rel="noreferrer noopener">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewbox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>