<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Recommended -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Elements -->
    <meta charset="utf-8">

    <!-- Meta -->
    <meta name="description" content="{{ metadata.description }}">
    <meta name="generator" content="11ty">

    <!-- Icons -->
    <!-- https://favicon.io/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}">

    <title>{{ title or metadata.title }}</title>

    <link rel="stylesheet" href="{{ '/site.css' | url }}">
  </head>

  <body class="font-sans leading-normal tracking-normal text-gray-900">

    <div id="main" class="grid grid-cols-12 gap-2 justify-evenly m-2">
      <div class="bg-green-500 order-1 col-span-6  md:col-span-6  lg:col-span-6 flex">
        <div class="bg-yellow-500">Logo</div>
        <div class="bg-yellow-500 ml-2">Business Name</div>
      </div>
      <div class="bg-green-500 order-2 col-span-6  md:col-span-6  lg:col-span-6 flex flex-wrap justify-end">
        <div class="bg-yellow-500 ml-2">Menu</div>
        <div class="bg-yellow-500 ml-2">Menu</div>
        <div class="bg-yellow-500 ml-2">Menu</div>
      </div>
      <div class="bg-green-500 order-6 col-span-6  md:col-span-6  lg:col-span-6">Copyright</div>
      <div class="bg-green-500 order-7 col-span-6  md:col-span-6  lg:col-span-6 flex flex-wrap justify-end">
        <div class="bg-yellow-500 ml-2">Icon</div>
        <div class="bg-yellow-500 ml-2">Icon</div>
        <div class="bg-yellow-500 ml-2">Icon</div>
      </div>
    </div>
  </div>
  {{ content | safe }}

</body>
</html>